<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <main>
      <form action="" class="form-body">
        <div class="form-wrapper">
          <div class="form-field-wrapper">
            <div class="form-header">
              <div class="invoice-item-field form-title-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Invoice</span>
                <span class="helper-text"></span>
              </div>
              <div class="form-logo-field">Logo</div>
            </div>
            <div class="form-field-from">
              <div class="form-field-title">From</div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Name</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Email</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Address Street</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Address Cyty, State</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Address Zip code</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Phone</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Business Number</span>
                <span class="helper-text"></span>
              </div>


              <!-- HIDE -->
             <span class="show-details">Hide additional business details</span>
             <div class="details-wrapper">
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Website</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Owner</span>
                <span class="helper-text"></span>
              </div>
             </div>
            </div>
            <div class="form-field-to">
              <div class="form-field-title">To</div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Name</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Email</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Address Street</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Address Cyty, State</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Address Zip code</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Phone</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Mobile</span>
                <span class="helper-text"></span>
              </div>
              <div class="invoice-item-field">
                <input type="text" class="invoice-item-input form-input" />
                <span class="form-field-placeholder">Fax</span>
                <span class="helper-text"></span>
              </div>
            </div>
          </div>
          <div class="invoice-list">
            <div class="invoice-list-wrapper">
              <span class="remove-invoice-item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="48"
                  viewBox="0 -960 960 960"
                  width="48"
                  
                >
                  <path
                    d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" fill="red"
                  />
                </svg>
              </span>
              <span class="draggable-invoice-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="34" viewBox="0 0 23 34" fill="none">
                  <rect width="10" height="10" fill="#dce9fc"/>
                  <rect x="13" width="10" height="10" fill="#dce9fc"/>
                  <rect y="12" width="10" height="10" fill="#dce9fc"/>
                  <rect x="13" y="12" width="10" height="10" fill="#dce9fc"/>
                  <rect x="13" y="24" width="10" height="10" fill="#dce9fc"/>
                  <rect y="24" width="10" height="10" fill="#dce9fc"/>
                  </svg>
              </span>
              <div class="invoice-item-field-list">
                <div class="invoice-item-field">
                  <input type="text" class="invoice-item-input form-input" />
                  <span class="form-field-placeholder">Description</span>
                  <span class="helper-text"></span>
                </div>
                <div class="invoice-item-field">
                  <input type="text" class="invoice-item-input form-input" />
                  <span class="form-field-placeholder">Rate</span>
                  <span class="helper-text"></span>
                </div>
                <div class="invoice-item-field">
                  <input type="text" class="invoice-item-input form-input" />
                  <span class="form-field-placeholder">QTY</span>
                  <span class="helper-text"></span>
                </div>
                <div class="invoice-item-field textarea">
                  <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    class="invoice-item-input form-input form-textarea"
                  ></textarea>
                  <span class="form-field-placeholder textarea-placeholder">Additionla details</span>
                  <span class="helper-text"></span>
                </div>
              </div>
              <span class="amount">0.00$ </span>
              <div class="tax-toggler">
                <input type="checkbox" class="tax-toggler-input checkbox" id="tax"/>
                <label for="tax" class="tax-toggler-label">tax</label>
              </div>
            </div>
          </div>
          <div class="add-item-wrapper">
            <button class="add-invoice-item">+</button>
          </div>
          <div class="total-amounts-wrapper">
            <div class="total-amounts">
              <div class="total-amounts-text">Subtotal</div>
              <div class="total-amounts-text">$0.00</div>
            </div>
            <div class="total-amounts">
              <div class="total-amounts-text">Total</div>
              <div class="total-amounts-text">$0.00</div>
            </div>
            <div class="total-amounts">
              <div class="total-amounts-text">Balance Due</div>
              <div class="total-amounts-text">$0.00</div>
            </div>
          </div>
          <div class="notes">
            <div class="notes-title">Notes</div>
            <textarea class="notes-field"></textarea>
          </div>
          <button class="signature-button">Signature +</button>
        </div>
        
      </form>
    </main>
    <script src="./index.js"></script>
  </body>
</html>
