<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  
  <div class="table-wrapper">
    <div class="table-options">
      <div class="folders">
        <ul class="folders-list">
          <li class="folders-item active">
            <span class="folders-name">All</span>
          </li>
          <li class="folders-item">
            <span class="folders-name">Upload</span>
            <span class="documents-count">154</span>
          </li>
          <li class="folders-item">
            <span class="folders-name">Paid</span>
            <span class="documents-count">2</span>
          </li>
          <li class="folders-item">
            <span class="folders-name">Archived</span>
            <span class="documents-count">17</span>
          </li>
        </ul>
      </div>
      <div class="filters">
        
      </div>
    </div>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>
            Invoice
          </th>
          <th>
            Client Name
          </th>
          <th>
            Due date
          </th>
          <th>
            Weekday
          </th>
          <th>
            Amount
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
     
      </tbody>
    </table>
    <div class="table-footer">
      <div class="pagination">
        <span class="arrow-left"></span>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
 
  <script src="index.js">

  </script>
</body>
</html>